#vc-notification-container { display: none; } /* Hide Vencord Update notifications */

[class^="profileEffects"], [class^="avatarDecoration"] { /* Remove invasive profile decorations */
    display: none;
}

[class^="app_"] > [class^="layers_"] > div { /* Fix for that weird height bug */
    height: 100%;
}

.theme-dark [class^="children"]:after { /* Remove channel title fade for long channel names */
    display: none;
}

[class^="toolbar_"] > [aria-label^="Notification Settings"],
[class^="toolbar_"] > [class^="recentsIcon_"],
[class^="toolbar_"] > a { /* Clean up top right toolbar */
    display: none;
}

[class^="buttons_"] > button[aria-label="Send a gift"] { /* Remove nitro button in the message box */
    display: none;
}

[class^="actionButtons"] > button:first-child { /* Hide Camera Action */
    display: none;
}

[class*="channelAppLauncher_"],
[class^="actionButtons"] > button:nth-child(5) { /* Hide Activity Action */
    display: none !important;
}

[class^="lottieIcon"] { /* Fixed Share Screen action button being a weird size */
    width: 18px;
    height: 18px;
}

/* Hide Nitro and Shop buttons */
[class^="privateChannels"] ul[class^="content"] > li:nth-child(3),
[class^="privateChannels"] ul[class^="content"] > li:nth-child(4) {
    display: none;
}

/* Hide server banners */
div#channels > [class^="content_"] > div:first-child,
[class^="animatedContainer_"] {
    display: none;
}

/* Remove invite to channel button */
[class*="iconItem_"]:first-child { display: none !important; }

[class^="jumpToPresentBar"] { /* Fix Jump to Present button not being right aligned */
    right: 0;
}

[class^="menu_"][aria-label^="Message Actions"] > div > :nth-child(-n+3),
[class^="menu_"][aria-label^="Message Actions"] > div > :nth-child(4) > :not(:nth-child(2)),
[class^="separator"] { /* Clean up context menu */
    display: none;
}

[class^="itemsContainer"] > [class^="footer"] {
    display: none;
}

[class*="container_"][class*="containerWithMargin_"] { /* Hide boost prompt */
    display: none;
}

[class^="privateChannels"] [class^="content"] > [class^="container"] { /* Play Activities again */
    display: none;
}

